@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rhap_container{
  background-color: black !important;
}

.rhap_time .rhap_current-time .rhap_time .rhap_total-time .rhap_progress-container{
  background-color: white !important;
  color: white !important;
}

.rhap_container svg{
  color: white !important;
}
.rhap_container div{
  color: white !important;
}

h1,h2,h3,h4,h5,h6,a,p{
  @apply font-body;
}

